@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

::selection{
    background-color: #1E3A8A;
    color: #fff;
}

